<!DOCTYPE html>
<html lang="vi-VN">
<head>
	<title>Website của Nguyễn Ngọc Công</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/styles/default.css">
</head>
<body>
	<div class="wrapper">
		
		<div class="header">
			<h2><a href="/">{{ site.site_name }}</a></h2>
		</div>
		<div class="navigation">
				<a class="menu-item" href="/">Trang chủ</a>
				<a class="menu-item" href="/gioithieu.html">Giới thiệu</a>
				<a class="menu-item" href="https://1drv.ms/u/s!AhLkKiylsqadgrJAci5KzCJwHpCS-w?e=TJb18D" target="_blank">Tài liệu</a>
				<a class="menu-item" href="/thuthuat.html">Thủ thuật</a>
		</div>
		<div class="content">
			{{ content }}
		</div>
		<div class="footer">
			<p>Bản quyền thuộc NNC<sup>&copy;</sup></p>
		</div>
	</div>
	<script>
		var a = document.getElementsByClassName("menu-item");
		var i = 0;
		for (i=0;i<a.length-1;i++){
			if (a[i].id === "selected")
			break;
		}
		a[i].id="selected";
	</script>
</body>
</html>